@charset "utf-8";

@font-face {
  src: url(../../assets/fonts/Ubuntu-Medium.ttf);
  font-family: ubuntu;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  font-family: ubuntu;
}

a {
  text-decoration: none;
}
