@charset "utf-8";

.container{
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 180px;
  padding-right: 180px;
}

.product{
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.photo{
  width: 50%;
}

.photo > img{
  width: 100%;
}

.informations{
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.informations > .title{
  font-size: 28pt;
  margin-bottom: 15px;
}

.heart{
  cursor: pointer;
}

.informations > p{
  font-size: 14pt;
  color: #909090;
  text-align: justify;
  line-height: 35px;
}

.RowContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RowContainer > h1, h2{
  font-size: 22pt;
}

.RowContainer > h1 {
  margin-right: 35px;
}

.cart{
  padding: 15px;
  font-weight: bold;
  font-size: 18pt;
  border: none;
  border-radius: 5px;
  background-color: #67D651;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ReviewContainer{
  display: flex;
  width: 90%;
  margin-top: 50px;
  flex-direction: column;
}

.ReviewContainer > h1{
  font-size: 28pt;
}

.Review{
  background-color: #dedede;
  padding: 25px;
  margin-top: 10px;
  border-radius: 5px;
  list-style-type: none;
  width: 100%;
}

.Review > h1{
  font-size: 32pt;
}

.Review > .RowContainer > figure{
  width: 80px;
  border-radius: 120px;
  height: 80px;
}

.Review > .RowContainer > figure > img {
  width: 80px;
  border-radius: 120px;
  height: 80px;
}

.Review > .RowContainer > h1{
  margin-left: 20px;
}

.commentary{
  font-size: 16pt;
  text-align: justify;
  line-height: 40px;
}

.Review > small{
  margin-top: 15px;
  text-align: left;
  font-weight: bold;
  font-size: 18pt;
}
