.input-data{
  font-size: 20px;
  padding: 2rem;
  width:20rem;
  border-width: 3px;
  border-radius: 2px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #161616;
  background-color:transparent;
  margin-bottom: 1rem;
  cursor: pointer;
}
