@charset "utf-8";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  color: #000;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
  overflow-x: none;
  width: 100%;
}

figure{
  margin-left: 20px;
  margin-right: 15px;
  padding-top: 10px;
}

.logo{
  width: 60px;
  height: 60px;
  cursor: pointer;
}

nav{
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
}


.Link{
  padding-top: 15px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  margin-right: 15px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.Link > h2{
  padding-top: 10px;
  font-size: 14pt;
  font-weight: bold;
}

.Link:hover{
  border-bottom: solid #000 1.5px;
  background-color: #eaeaea;
}

.Button{
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: center;
  text-decoration: none;
}

.Button > h2{
  font-size: 12pt !important;
}

section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

section > .Touchable{
  margin-right: 20px;
  font-size: 24pt;
  color: #000;
}

.ProfileIcon{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.ProfileIcon > h1 {
  color:#fff;
  font-size: 12pt;
}

@media screen and (max-width: 600px) {
  .Button {
    margin-right: 50px;
  }
}
