@charset "utf-8";

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #402F7A;
  color: #fff;
  width: 100%;
  align-items: center;
}


nav{
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  font-size: 10pt;
}

.Link{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin: 15px;
}

.Button{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: center;
  text-decoration: none;
}
