
  .container-login .form img{

    display: none;
   }


   .container-login .form{

     display: flex;
     justify-content: center;
     flex-direction: row;
     }
     .container-login form{
       margin-top: 5rem;
       margin-right: 5rem;
       height: 70vh;
       width: 50vw;
     }
     .arrow-back{
       height: -20vh;
       color: #000;
     }

     .container-login h1{
       margin-top: 2rem;
       margin-bottom: 1rem;
     }
     .arrow-back{
     display: flex;

       height: 60vh;
       color: #000;
     }


    .link-register{
      color: #2c2c2c;
      text-decoration: none;
      font-size: 18px;

    }


@media (min-width: 1100px) {
.container-login{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: center;
  animation-name: up;
  animation-duration: 1000ms;
}
@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}
.container-login .form{
display: flex;
justify-content: space-between;
flex-direction: row-reverse;
}
.container-login form{
  height: 50vh;
  width: 25vw;
}

.container-login .form img{
  display: flex;
  width: 50%;
}
.container-login h1{
  margin-top: 2rem;
  margin-bottom: 1rem;
}


}
